{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HotNews{% endblock %}

{% block page_content %}
<div class="m-cover container">
    <h1 class="page-header">{{type}}</h1>
    <div class="row">
        <div class="col-md-12" >
            <ul class="list-group">
            {% for i in itemList%}
                <a class="list-group-item" href="{{i['path']}}">
                    <span class="pull-right">
                        <h5>{{i['time']}}</h5>
                    </span>
                    <h4  class="list-group-item-heading">
                        <span>{{i['title']}}</span>
                    </h4>
                </a>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}