img {
    width: 100%;
	margin: 0px auto;
}

.list-group-item.active {
	z-index: 2;
	color: #fff;
	background-color: #7a7a7a;
	border-color: #7a7a7a;
}

.badge{
    color: #333042;
    background-color: #fff;
}